.container .char-block > .rect {
  position: absolute;

  width: 6vw;
  height: 6vw;
  margin-left: -48vw;

  opacity: 0;
  border: 0.4vw solid;
  border-radius: 0.18vw;

  &.a {
    animation: a-rect-move 0.6s linear forwards;
    animation-delay: 1.8s;

    border-color: var(--rect-color-1);
  }

  &.n {
    animation: n-rect-move 0.9s linear forwards;
    animation-delay: 1.5s;

    border-color: var(--rect-color-2);
  }

  &.i {
    animation: i-rect-move 1.2s linear forwards;
    animation-delay: 1.2s;

    border-color: var(--rect-color-2);
  }

  &.p {
    animation: p-rect-move 1.5s linear forwards;
    animation-delay: 0.9s;

    border-color: var(--rect-color-4);
  }

  &.l {
    animation: l-rect-move 1.8s linear forwards;
    animation-delay: 0.6s;

    border-color: var(--rect-color-3);
  }

  &.e {
    animation: e-rect-move 2.1s linear forwards;
    animation-delay: 0.3s;

    border-color: var(--rect-color-2);
  }

  &.x {
    animation: x-rect-move 2.1s linear forwards;

    border-color: var(--rect-color-1);
  }
}

.container .char-block > .p-rect-90deg {
  position: absolute;
  z-index: -1;

  width: 0.36vw;
  height: 9.6vw;

  animation: p-90deg-show 0s forwards;
  animation-delay: 2.4s;

  opacity: 0;
  border-radius: 0.1vw;
  background: var(--rect-color-4);
}

@keyframes a-rect-move {
  0% {
    transform: rotateY(0deg);

    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);

    opacity: 1;
  }
}

@keyframes n-rect-move {
  0% {
    transform: rotateY(135deg) scale(1.1);

    opacity: 1;
  }
  60% {
    transform: translateX(calc(8vw * 0.6)) rotateY(45deg) scale(1.1);
  }
  80% {
    transform: translateX(calc(8vw * 0.8)) rotateY(100deg) scale(1.2);
  }
  100% {
    z-index: -1;

    transform: translateX(8vw) rotateY(77deg) scale(1.2);

    opacity: 1;
  }
}

@keyframes i-rect-move {
  0% {
    opacity: 1;
  }
  30% {
    transform: translateX(calc(16vw * 0.3)) rotateY(135deg) scale(1.2);
  }
  60% {
    transform: translateX(calc(16vw * 0.6)) rotateY(45deg) scale(1.3);
  }
  80% {
    transform: translateX(calc(16vw * 0.8)) rotateY(100deg) scale(1.3);
  }
  100% {
    z-index: -1;

    transform: translateX(16vw) rotateY(75deg) scale(1.3);

    opacity: 1;
  }
}

@keyframes p-rect-move {
  0% {
    opacity: 1;
  }
  30% {
    transform: translateX(calc(24vw * 0.3)) rotateY(135deg) scale(1.2);
  }
  60% {
    transform: translateX(calc(24vw * 0.6)) rotateY(45deg) scale(1.4);
  }
  80% {
    transform: translateX(calc(24vw * 0.8)) rotateY(135deg) scale(1.6);
  }
  100% {
    z-index: -1;

    transform: translateX(24vw) rotateY(90deg) scale(1.6);

    opacity: 1;
  }
}

@keyframes l-rect-move {
  0% {
    opacity: 1;
  }
  33% {
    transform: translateX(calc(32vw * 0.33)) rotateY(135deg) scale(1.2);
  }
  66% {
    transform: translateX(calc(32vw * 0.66)) rotateY(45deg) scale(1.6);
  }
  95% {
    transform: translateX(calc(32vw * 0.95)) rotateY(100deg) scale(1.4);
  }
  100% {
    z-index: -1;

    transform: translateX(32vw) rotateY(103deg) scale(1.3);

    opacity: 1;
  }
}

@keyframes e-rect-move {
  0% {
    opacity: 1;
  }
  33% {
    transform: translateX(calc(40vw * 0.33)) rotateY(135deg) scale(1.2);
  }
  66% {
    transform: translateX(calc(40vw * 0.66)) rotateY(45deg) scale(1.2);
  }
  95% {
    transform: translateX(calc(40vw * 0.95)) rotateY(135deg) scale(1.2);
  }
  100% {
    z-index: -1;

    transform: translateX(40vw) rotateY(103deg) scale(1.2);

    opacity: 1;
  }
}

@keyframes x-rect-move {
  0% {
    opacity: 1;
  }
  25% {
    transform: translateX(calc(48vw * 0.25)) rotateY(135deg) scale(1.2);
  }
  50% {
    transform: translateX(calc(48vw * 0.5)) rotateY(45deg) scale(1.6);
  }
  85% {
    transform: translateX(calc(48vw * 0.85)) rotateY(135deg) scale(1.2);
  }
  100% {
    transform: translateX(48vw) rotateY(0deg) scale(1.1);

    opacity: 1;
  }
}

@keyframes p-90deg-show {
  to {
    opacity: 1;
  }
}
