.container {
  display: flex;
  align-items: center;
  flex-flow: column;

  width: 100%;
  min-height: 100vh;
  padding: 20px 0;

  background-color: #f5f7fa;

  & > * + * {
    margin-top: 16px;
  }

  .signature-canvas {
    border-radius: 10px;
    box-shadow: 0 2px 6px #ccc;

    touch-action: none;
  }

  .btn-group {
    display: flex;

    .btn {
      position: relative;
      z-index: 0;

      overflow: hidden;

      padding: 6px 14px;

      cursor: pointer;
      user-select: none;

      color: #fff;
      border-radius: 6px;

      & + .btn {
        margin-left: 40px;
      }

      &::before {
        position: absolute;
        z-index: -1; /* 设置z-index 父子堆叠顺序 */

        display: block;

        content: "";

        opacity: 0;
        background-color: #000;

        inset: 0;
      }
      &:active {
        &::before {
          opacity: var(--active-opacity);
        }
      }
    }

    .save-btn {
      background-color: #f56c6c;
    }

    .reset-btn {
      background-color: #67c23a;
    }
  }
}
